<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <style>
      body {
        background-image: url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?auto=format&fit=crop&q=80&w=2070&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
        background-size: cover;
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        color: #fff;
      }

      header {
        background-color: #333;
        text-align: center;
        padding: 10px 0;
      }

      nav {
        text-align: center;
        margin-top: 20px;
      }

      nav a {
        background-color: navajowhite;
        color: black;
        border: none;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 5px;
        cursor: pointer;
        text-decoration: none;
        transition: background-color 0.3s ease;
      }

      nav a:hover {
        background-color: tan;
      }
    </style>
  </head>

  <body>
    <header>
      <h1>Welcome to Hijau Busana</h1>
    </header>
    <nav>
      <a href="/login">Login</a>
      <a href="/register">Register</a>
    </nav>
  </body>
</html>
