<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
    <%- include('formStyle') %>
  </head>
  <body>
    <div class="form-container">
      <h1>Register</h1>
      <a href="/">Back to Home</a>
      <form method="post" action="/register">
        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" name="email"/>
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" name="password"/>
        </div>
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" name="name"/>
        </div>
        <div class="form-group">
          <label for="birthDate">Birth Date</label>
          <input type="date" id="birthDate" name="birthDate"/>
        </div>
        <button type="submit">Register</button>
      </form>
      <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </body>
</html>
